<!-- LOADER -->

<div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>

<div class="limiter">

    <div class="container-login100 bg-overlay" style="background-image: url('{{imageUrl}}bg-img/hero-1.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41 mb-2">
                Account Login
            </span>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form p-b-33 p-t-5 py-4">

                <div class="wrap-input100 validate-input">
                    <input class="input100" formControlName="email" type="email" name="email" placeholder="Email">
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" formControlName="password" type="password" name="password"
                        placeholder="Password">
                </div>


                <div class="container-login100-form-btn" style="text-align: center;">
                    <button class="btn fancy-btn my-4" style="color: black; " type="submit">
                        Login
                    </button>
                </div>
            </form>
            <div class="text-white mt-1 ">
                <span> Don't have an account <a style="color: whitesmoke; font-weight: 700;" routerLink="/signup"> Sign Up</a></span>
            </div>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>