<!-- ***** Hero Area Start ***** -->
<div class="fancy-hero-area bg-img bg-overlay animated-img" style="background-image: url({{imageUrl}}bg-img/hero-1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="fancy-hero-content text-center">
                    <!-- Video Overview -->
                    <!-- <h2 class="home-heading">Login or Register</h2> -->
                    
                    <a *ngIf="!loggedInUserDataService.isUserLoggedIn" routerLink="/login" (click)="setPrivateKeyStatus(false)" style="color: white;" class="btn fancy-btn">Login</a>
                    <a *ngIf="!loggedInUserDataService.isUserLoggedIn" routerLink="/signup" (click)="setPrivateKeyStatus(true)" style="color: white;" class="ml-2 btn fancy-btn">Register</a>

                    <a *ngIf="loggedInUserDataService.isUserLoggedIn" routerLink="/user" (click)="setPrivateKeyStatus(true)" style="color: white;" class="ml-2 btn fancy-btn">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Hero Area End ***** -->

<!-- ***** Top Feature Area Start ***** -->
<div class="fancy-top-features-area bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="fancy-top-features-content">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reliability</h5>
                                <p>We assure, you will never miss any Opportunity and always have your data updated right. </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Transparency</h5>
                                <p>We assure, proper reasoning in ease of any failures, and your uneligibility for schemes. </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-diamond" aria-hidden="true"></i> conveniency</h5>
                                <p>We assure, the easiest and best for you to be connected to us and get benefited. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Top Feature Area End ***** -->

<!-- ***** About Us Area Start ***** -->
<section class="fancy-about-us-area bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="about-us-text">
                    <h2>We are medeasy and will help you to easily find medicines and medical equipments in your area.</h2>
                    <!-- <a routerLink="" class="btn fancy-btn fancy-dark">Read More</a> -->
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-5 ml-xl-auto">
                <div class="about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="{{imageUrl}}bg-img/about-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Us Area End ***** -->


<!-- ***** Footer Area Start ***** -->
<footer class="fancy-footer-area fancy-bg-dark">
    <div class="footer-content section-padding-80-50">
        <div class="container">
            <div class="row">
                <!-- Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget">
                        <h6>Our Newsletter</h6>
                        <p>Subscribe to our mailing list to get the updates to your email inbox.</p>
                        <!-- <form action="#" method="get">
                            <input type="search" name="search" id="footer-search" placeholder="E-mail">
                            <button type="submit">Subscribe</button>
                        </form> -->
                        <div class="footer-social-widegt d-flex align-items-center">
                            <a routerLink=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a routerLink=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a routerLink=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a routerLink=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a routerLink=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget -->
                <!-- <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <h6>Twitter Feed</h6>
                        <div class="single-tweet">
                            <a routerLink=""><i class="fa fa-twitter" aria-hidden="true"></i> With the popularity of
                                podcast
                                shows growing with each year, you might consider starting it yourself as well.
                                <br>https://buff.ly/2zttoJb </a>
                            <span>About 20 hours ago</span>
                        </div>
                    </div>
                </div> -->
                <!-- Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget">
                        <h6>Link Categories</h6>
                        <nav>
                            <ul>
                                <li><a routerLink=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        Home</a>
                                </li>
                                <li><a (click)="setPrivateKeyStatus(false)" routerLink="/login"><i
                                            class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        Schemes</a>
                                </li>
                                <li><a (click)="setPrivateKeyStatus(true)" routerLink="/login"><i
                                            class="fa fa-angle-double-right" aria-hidden="true"></i> Edit
                                        Data</a>
                                </li>
                                <li><a routerLink="/contact"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        Contact Us</a>
                                </li>

                                <li><a routerLink=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        Our Mission</a>
                                </li>
                                <li><a routerLink=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        About</a>
                                </li>
                                <li><a routerLink=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        Privacy</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget">
                        <h6>Contact Us</h6>
                        <p>Toll Free : 1234 <br>admin@medeasy.com
                        </p>
                        <p>Bangla Sahib Road, Behind Kali Mandir, Gole Market,
                            <br> New Delhi - 110001 </p>
                        <p>Open hours: 8.00 AM - 6.00 PM</p>
                        <p>Monday - Friday</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copywrite -->
</footer>