<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label *ngIf="loggedInUserData.user?.role == 'Customer'">Full Name</label>
                                        <label *ngIf="loggedInUserData.user?.role == 'Chemist'">Store Name</label>
                                        <input disabled type="text" class="form-control" disabled placeholder="Company"
                                            value="{{loggedInUserData.user?.name}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input disabled type="email" class="form-control" placeholder="Email"
                                            value="{{loggedInUserData.user?.email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input disabled type="text" class="form-control" placeholder="Home Address"
                                            value="{{loggedInUserData.user?.address}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input disabled type="text" class="form-control"
                                            value="{{loggedInUserData.user?.pincode}}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <input disabled type="text" class="form-control"
                                            value="{{loggedInUserData.user?.role}}">
                                    </div>
                                </div>
                            </div>
                            
                    
                    <!-- <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button> -->
                    <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>