<!-- LOADER -->

<div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>

<div class="row mx-0" style=" margin-top: 100px;">
    <div class="col-sm-2" style="background-color: #3c3e49;">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-wrapper">

                    <ul class="nav">
                        <li [class.active]="this.router.url=='/user/(user:profile)'">

                            <a [routerLink]="[{outlets: {user: 'profile'}}]">
                                <p>Profile</p>
                            </a>
                        </li>
                        <li [class.active]="this.router.url=='/user/(user:requests)'">
                            <a [routerLink]="[{outlets: {user: 'requests'}}]">
                                <p>Requests</p>
                            </a>
                        </li>



                        <li>
                            <a (click)="logout()" routerLink="notifications.html">
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10 mt-5">
        <router-outlet name="user"></router-outlet>
    </div>
</div>