<!-------- MAKE APPOINTMENT MODAL  -->
<div *ngIf="addModalStatus" class="modal fade show" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Schedule An Appointment</h5>
                <button (click)="toggleAddModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="doctorName">Doctor : </label>
                        <input (input)="this.getDoctors(doctorName.value)" #doctorName formControlName="doctorName"
                            class="form-control" type="search" name="doctorName" placeholder="Enter the name of doctor"
                            aria-label="Search" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" [value]="this.searchBoxValue">
                        <div class="dropdown-menu col-8" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let doctor of this.doctorsList" style="cursor: pointer;" class="dropdown-item"
                                (click)="this.setSelectedDoctor(doctor)">{{doctor.name}}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="issue">Issue/Disease : </label>
                        <input #issue formControlName="issue" class="form-control" type="text" name="issue" id="issue"
                            required="true">
                    </div>
                    <div class="form-group">
                        <label for="symptoms" class="col-form-label">Symptoms : </label>
                        <textarea #symptoms class="form-control" name="symptoms" id="symptoms" cols="35"
                            rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="preferredDate" class="col-form-label">Preferred Date : </label>
                        <input #preferredDate formControlName="preferredDate" required="true" class="form-control"
                            type="date" name="preferredDate" id="preferredDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="toggleAddModal()">Close</button>
                <button type="button" class="btn btn-primary"
                    (click)="this.makeAppointment(issue.value,symptoms.value,preferredDate.value)">Send
                    request</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal Ends -->

<!-- Image Modal -->

<div *ngIf="imageModalStatus" class="modal fade show" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request Image</h5>
                <button (click)="toggleImageModal()" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="{{activeImage}}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Image Modal Ends -->

<!----------------------- Appointments List -------------------->
<div *ngIf="activeAppointment">
    <span (click)="resetActiveAppointment()"><i class="fa fa-angle-left"
            style="font-size:36px; cursor: pointer;"></i></span>
</div>


<div *ngIf="activeAppointment === undefined" class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-responsive-sm">
        <thead class="bg-secondary">
            <tr>
                <th class="heading" scope="col">Appointment Id</th>
                <th class="heading" scope="col">Issue</th>
                <th *ngIf="loggedInUserData.user?.role == USER_ROLES.PATIENT" class="heading" scope="col">Doctor Name
                </th>
                <th class="heading" scope="col">Slot</th>
                <th class="heading" scope="col">Status</th>
                <th *ngIf="loggedInUserData.user?.role == USER_ROLES.DOCTOR" class="heading" scope="col">Action</th>
                <!-- <th class="heading" scope="col">Status</th> -->
            </tr>
        </thead>
        <tbody *ngIf="this.loggedInUserData.user?.role === 'patient'">
            <tr *ngFor="let appointment of appointments">
                <td style="font-weight: bold; cursor: pointer;" class="btn-link"
                    (click)="setActiveAppointment(appointment)">{{appointment.id}}</td>
                <td>{{appointment.issue}}</td>
                <td *ngIf="loggedInUserData.user?.role == USER_ROLES.PATIENT">{{appointment.doctorName}}</td>
                <td>{{appointment.slot}}</td>
                <td>{{appointment.status}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="this.loggedInUserData.user?.role != 'patient'">
            <tr *ngFor="let appointment of doctorAppointments">
                <td style="font-weight: bold; cursor: pointer;" class="btn-link"
                    (click)="setActiveAppointment(appointment)">{{appointment.id}}</td>
                <td>{{appointment.issue}}</td>
                <td *ngIf="loggedInUserData.user?.role == USER_ROLES.PATIENT">{{appointment.doctorName}}</td>
                <td>{{appointment.slot}}</td>
                <td>{{appointment.status}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Request List Ends -->

<!-- Add Button -->
<div *ngIf="loggedInUserData.user?.role === USER_ROLES.PATIENT" (click)="toggleAddModal()" class="add-Circle">
    <span class="addBtn">+</span>
</div>

<div id="accordion1" *ngIf="activeAppointment" class="mt-1">
    <div class="card">
        <div #appointmentDetails style="cursor: pointer;" class="card-header" id="headingOne" data-toggle="collapse"
            data-target="#collapseOne" aria-controls="collapseOne">
            <h5 class="mb-0">
                <span>
                    Appointment Details
                </span>
                <span class="float-right"><i class="fa fa-angle-down" style="font-size:24px"></i></span>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <tbody>
                    <td style="font-weight: bold;">{{activeAppointment.id}},</td>
                    <td>{{activeAppointment.issue}}, </td>
                    <td *ngIf="loggedInUserData.user?.role == USER_ROLES.PATIENT">{{appointment.doctorName}}, </td>
                    <td>{{activeAppointment.slot}}, </td>
                    <td>{{activeAppointment.status}} </td>
                </tbody>
            </div>
        </div>
    </div>
</div>
<div id="accordion2" class="mt-1" *ngIf="loggedInUserData.user?.role === USER_ROLES.DOCTOR && activeAppointment">
    <div class="card">
        <div class="card-header" style="cursor: pointer;" id="headingTwo" data-toggle="collapse"
            data-target="#collapseTwo" aria-controls="collapseTwo">
            <h5 class="mb-0">
                <span>
                    Patient Details
                </span>
                <span class="float-right"><i class="fa fa-angle-down" style="font-size:24px"></i></span>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Name, Blood Group
            </div>
        </div>
    </div>
</div>
<div id="accordion3" class="mt-1" *ngIf="loggedInUserData.user?.role === USER_ROLES.DOCTOR && activeAppointment">
    <div class="card">
        <div class="card-header" id="headingThree" style="cursor: pointer;" data-toggle="collapse"
            data-target="#collapseThree" aria-controls="collapseThree" (click)="this.getReportsOfPatient(6)">
            <h5 class="mb-0">
                <span>
                    Reports
                </span>
                <span class="float-right"><i class="fa fa-angle-down" style="font-size:24px"></i></span>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <!----------------------- Request List -------------------->
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-responsive-sm">
                        <thead class="bg-secondary">
                            <tr>
                                <th class="heading" scope="col">Report Name</th>
                                <th class="heading" scope="col">Attachment</th>
                                <th class="heading" scope="col">Report Date</th>
                                <th class="heading" scope="col">Related Appointments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let report of patientReports">
                                <td style="font-weight: bold;">{{report.name}}</td>
                                <td><a style="cursor: pointer; text-decoration: underline; color: blue;"
                                        (click)="setActiveImage(report.attachment)">View
                                        {{report.name}}</a></td>
                                <td>{{report.created}}</td>
                                <td><span *ngFor="let appointment of report.relatedAppointments; let ind = index"><a
                                            routerLink="#">{{appointment}}</a>
                                        <span *ngIf="ind < report.relatedAppointments.length - 1">,</span></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Request List Ends -->
            </div>
        </div>
    </div>
</div>